body {
  background-color: #7DA2A0;
  background-size: cover;
}

h2 {
  font-family: 'Josefin Slab', serif;
  font-size: 1.95em;
  color: white;
  margin-bottom: .4em;
}

p {
  font-family: 'Josefin Slab', serif;
  font-size: 1.1em;
  color: white;
  margin-left: 1em;
  margin-top: .4em;
}

li {
  color: white;
  font-size: .95em;
}

#pic {
  width: 85px;
  height: 127px;
  float: right;
  margin-top: -45px;
}
