body {
  background-color: black;
  font-family: 'Josefin Slab', serif;
  color: white;
  position: relative;
}

header {
  margin: 0;
  text-align: center;
  color: white;
}

p {
  padding: 10px 20px 0 20px;
  font-size: 1.1em;
}

h1 {
  text-align: center;
  font-size: 120%;
}

a {
  text-decoration: none;
  color: white;
  font-size: .8em;
}

footer {
  font-size: 1.5em;
  position: 400px 200px;
}

ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

.clearfix {
  clear: both;
}

.main-nav li {
  display: block;
  font-size: 1.5em;
  padding: .2em .2em;
}

.main-nav ul {
  display: none;
}

.main-nav:hover ul {
  display: block;
  padding: 0;
  list-style: none;
}

#pic {
  align-items: center;
  border-radius: 35px;
  outline: solid 2px #919490;
}

#pic.expand {
  width: 6.5em;
}

  span > img {
    display: block;
    margin: 0;
    width: auto;
    height: auto;
    padding-left: 30%
  }

@media only screen and (min-width: 640px) {
  .main-nav ul {
    display: block;
    padding: 0;
    margin: 0;
  }

  .main-nav li {
    display: inline;
    font-size: 1.5em;
  }

  #hamburger-bun {
    display: none;
  }

  span > img {
    display: inline;
    margin: 0;
    width: auto;
    height: auto;
    padding-left: 3%;
    padding-top: 3%;
  }

  #skills-div {
    margin:
  }
}

@media only screen and (min-width: 768px) {

  .main-nav ul {
    display: block;
    padding: 0;
    margin: 0;
  }
  .main-nav li {
    display: inline-block;
    font-size: 1.5em;
    padding-left: .6em;
    border: solid;
    margin: 0 1px 0 0;
  }

  .main-nav li a {
    padding: 0 2px;
  }

  span > img {
    display: inline;
    margin: 0 10px 0 0;
    width: 210px;
    height: auto;
    padding-left: 2%
  }
}
